name: Build and Push Docker Image v2

on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore FitnesAP/FitnesAP.csproj

      - name: Build project
        run: dotnet build FitnesAP/FitnesAP.csproj --configuration Release --no-restore

      - name: Publish project
        run: dotnet publish FitnesAP/FitnesAP.csproj --configuration Release --no-build --output "${{ github.workspace }}/publish"

      - name: Run tests
        run: dotnet test FitnesAp_Tests/FitnesAp_Tests.csproj --logger "trx;LogFileName=test-results.trx"

      - name: Save test results as artifact
        uses: dorny/test-reporter@v1
        with:
          name: 'Test results'
          path: '**/TestResults/*.trx'
          reporter: 'dotnet-trx'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: dadoxx/fitnesapdemo:latest, dadoxx/fitnesapdemo:${{ github.sha }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "fitnesapdemo"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: "${{ github.workspace }}/publish"
