name: Build and Push Docker Image v2

on:
  push:
    branches:
      - main
      - master

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout code

        uses: actions/checkout@v2

      - name: Set up Docker Buildx

        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub

        uses: docker/login-action@v1

        with:

          username: ${{ secrets.DOCKER_USERNAME }}

          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image

        uses: docker/build-push-action@v2

        with:

          context: .

          file: ./Dockerfile

          push: true

          tags: dadoxx/fitnesapdemo:latest, dadoxx/fitnesapdemo:${{ github.sha }}

      - name: Publish
        run: dotnet restore ./FitnesAP/FitnesAP.csproj
             dotnet publish ./FitnesAP/FitnesAP.csproj --configuration Release --output "/home/runner/work/FitnesAP/FitnesAP/publish"
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "fitnesapdemo"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: "${{ github.workspace }}/publish"
